header {
    background-color: #4EA0FF;
    background-image: url("/img/pattern.png");
    background-size: 300px;
}

#logo {
    padding: 20px;
    width: 30%;
}

#writer, #date {
    margin: 0;
    color: #808080;
}

h1 {
    font-size: 40px;
    padding-top: 15px;
}

#nome-writer {
    color: #20A9E5;
}

h1, .caption{
    margin: 0;
}

#date {
    font-size: 12px;
}

.caption {
    font-size: 10px;
}

#highlighted {
    background-color: yellow;
}

thead {
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

th {
    width: 25%;
}
th:last-child {
    width: 50%;
}
table {
    border-collapse: collapse;
}

#tr1, #tr3 {
    background-color: #B1E5F2;
}